<div class="row">
    <div class="col-md-8 offset-md-2 card card-body bg-light">
        <form method="post" action="/Home/SubmitQuestion">
            <input class="form-control" name="title" placeholder="Title" /><br />
            <textarea class="form-control" name="text" placeholder="Type your question here..." rows="10"></textarea><br />
            <select multiple class="form-control" id="tags" name="tags"></select>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script>
        $(() => {
            $("#tags").tagsinput({
                tagClass: 'badge badge-primary'
            });
        })
    </script>
}
@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
}
