@model LoginViewModel

<div class="row">
<div class="col-md-6 offset-md-3 card card-body bg-light">
    <h3>Log in to Your Account</h3>
    <form method="post" action="/Home/Login">
        <input type="hidden" name="returnurl" value="@Model.ReturnUrl" />
        <input type="text" name="email" placeholder="Email" class="form-control" />
        <br />
        <input type="password" name="password" placeholder="Password" class="form-control" />
        <br />
        <button class="btn btn-primary">Login</button>
    </form>
    <a href="/Home/Signup">Sign up for a new account</a>
</div>
</div>